* {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: white;
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

img {
  width: calc(150px);
}

table {
  table-layout: fixed;
}

td {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 20%;
}

.page-title {
  position: absolute;
  left: 0px;
  top: 10px;
}
.rating-board {
    width: 1000px;
    height: 300px;
    margin: auto;
    position: absolute;
    left: 0px;
    top:20%;
}

.rate-button {
    width: calc(150px);
    height: calc(150px);
    margin: 5px;
    position: relative;
    transform: scale(1.0);
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    border-radius: 50%;
    border: 2px gray solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.rating-text {
  font-size: 20px;
}

.centered {
    position: fixed;
}

.rate-button:active {
    transform: scale(0.9);
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
}


.very-bad {
  background-image: url("../img/pushbutton very bad.png");
  background-position: center;
  background-size: calc(155px);
}
.bad {
  background-image: url("../img/pushbutton bad.png");
  background-position: center;
  background-size: calc(155px);
}
.ok {
  background-image: url("../img/pushbutton ok.png");
  background-position: center;
  background-size: calc(155px);
}
.good {
  background-image: url("../img/pushbutton good.png");
  background-position: center;
  background-size: calc(155px);
}
.very-good {
  background-image: url("../img/pushbutton very good.png");
  background-position: center;
  background-size: calc(155px);
}

