* {
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: white;
    font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

h1 {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

table {
  table-layout: fixed;
}

td {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 20%;
}

.page-title {
  position: absolute;
  left: 0px;
  top: 10px;
}
.rating-board {
    width: 1000px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0px;
    top:20%;
}

.rate-button {
    width: calc(150px);
    height: calc(150px);
    margin: 5px;
    position: relative;
    transform: scale(1.0);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 50%;
    border: 2px black solid;
}

.rating-text {
  font-size: 20px;
}

.centered {
    position: fixed;
}

.rate-button:active {
    transform: scale(0.9);
    transition: transform 0.1s;
    -webkit-transition: transform 0.1s;
}

.very-bad {
  background: #aa0000;
}

.bad {
  background: #ff0000;
}
.ok {
  background: #ffff00;
}
.good {
  background: #00ff00;
}
.very-good {
  background: #008800;
}

